# ========================= #
# This Project Specifically #
# ========================= #

release/v*
release/031814
!version.txt

# =============== #
# Unity generated #
# =============== #
Unity\ Free\ Flight/Temp/
#Unity\ Free\ Flight/Library/
Unity\ Free\ Flight/Build/
Unity Free Flight/Library/ScriptAssemblies/


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Unity\ Free\ Flight/ExportedObj/
Unity\ Free\ Flight/obj/
Unity\ Free\ Flight/*.svd
Unity\ Free\ Flight/*.userprefs
Unity\ Free\ Flight/*.csproj
Unity\ Free\ Flight/*.pidb
Unity\ Free\ Flight/*.suo
Unity\ Free\ Flight/*.sln
Unity\ Free\ Flight/*.user
Unity\ Free\ Flight/*.unityproj
Unity\ Free\ Flight/*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

