# ========================= #
# This Project Specifically #
# ========================= #

release/v*
release/031814
!version.txt
*.mp3
*.wav

FreeFlight/Assets/Crow/
FreeFlight/Assets/FreeFlightDemo/Standard\ Assets/
FreeFlight/Assets/FreeFlightDemo/release
FreeFlight/Assets/Plugins/

# =============== #
# Unity generated #
# =============== #
FreeFlight/Temp/
FreeFlight/Library/
FreeFlight/Build/
FreeFlight/Library/ScriptAssemblies/
FreeFlight/Assets/Standard\ Assets/
FreeFlight/Assets/Standard\ Assets.meta
*ShaderCache*


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
FreeFlight/ExportedObj/
FreeFlight/obj/
FreeFlight/*.svd
FreeFlight/*.userprefs
FreeFlight/*.csproj
FreeFlight/*.pidb
FreeFlight/*.suo
FreeFlight/*.sln
FreeFlight/*.user
FreeFlight/*.unityproj
FreeFlight/*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
